.App {
  height: 100vh;
    display: flex;
    align-items: center; 
    justify-content: space-around; 
    background-color:dimgrey;
    flex-direction: column;
}
.todoContainer{
  background-color: rgb(255, 234, 0);
  padding: 20px;
}
.todoItems{
  background-color: orange;
  margin:1vh;
  padding: 5px;
}
.todoItemsChild{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: bisque
}